DMSPruebasNube/DMSPruebasNube/Service References/autenticacionWS/Autenticacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Autenticacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dmsprestamos.apphb.com/Autenticacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dmsprestamos.apphb.com/Autenticacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" />
      <xsd:import schemaLocation="http://dmsprestamos.apphb.com/Autenticacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dmsprestamos.apphb.com/Autenticacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsuariosDMS.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutenticacion_VerificarExistenciaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_VerificarExistenciaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_VerificarExistenciaUsuario_UsuarioNoEncontradoExcepcionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" name="detail" element="q1:UsuarioNoEncontradoExcepcion" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_VerificarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPassword" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_VerificarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_VerificarPassword_PasswordIncorrectaExcepcionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" name="detail" element="q2:PasswordIncorrectaExcepcion" />
  </wsdl:message>
  <wsdl:portType name="IAutenticacion">
    <wsdl:operation name="VerificarExistenciaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacion/VerificarExistenciaUsuario" message="tns:IAutenticacion_VerificarExistenciaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacion/VerificarExistenciaUsuarioResponse" message="tns:IAutenticacion_VerificarExistenciaUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutenticacion/VerificarExistenciaUsuarioUsuarioNoEncontradoExcepcionFault" name="UsuarioNoEncontradoExcepcionFault" message="tns:IAutenticacion_VerificarExistenciaUsuario_UsuarioNoEncontradoExcepcionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacion/VerificarPassword" message="tns:IAutenticacion_VerificarPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacion/VerificarPasswordResponse" message="tns:IAutenticacion_VerificarPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutenticacion/VerificarPasswordPasswordIncorrectaExcepcionFault" name="PasswordIncorrectaExcepcionFault" message="tns:IAutenticacion_VerificarPassword_PasswordIncorrectaExcepcionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutenticacion" type="tns:IAutenticacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarExistenciaUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutenticacion/VerificarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UsuarioNoEncontradoExcepcionFault">
        <soap:fault use="literal" name="UsuarioNoEncontradoExcepcionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerificarPassword">
      <soap:operation soapAction="http://tempuri.org/IAutenticacion/VerificarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PasswordIncorrectaExcepcionFault">
        <soap:fault use="literal" name="PasswordIncorrectaExcepcionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autenticacion">
    <wsdl:port name="BasicHttpBinding_IAutenticacion" binding="tns:BasicHttpBinding_IAutenticacion">
      <soap:address location="http://dmsprestamos.apphb.com/Autenticacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>