DMSPruebasNube/DMSPruebasNube/Service References/autenticacionWS/Autenticacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioNoEncontradoExcepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioNoEncontradoExcepcion" nillable="true" type="tns:UsuarioNoEncontradoExcepcion" />
  <xs:complexType name="PasswordIncorrectaExcepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordIncorrectaExcepcion" nillable="true" type="tns:PasswordIncorrectaExcepcion" />
</xs:schema>