DMSPruebasNube/DMSPruebasNube/Service References/disponibleWS/EquipoDisponible2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dmsprestamos.apphb.com/EquipoDisponible.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" />
  <xs:element name="VerificarDisponibilidadEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDisponibilidadEquipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" minOccurs="0" name="VerificarDisponibilidadEquipoResult" nillable="true" type="q1:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>